<div>
  <%= link_to("<< Back to List", students_path) %>
  <div>
    <h3>Edit Student</h3>
    <%= form_for [@student] do |f| %>
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <td><%= f.text_field :name %></td>
        </tr>
      </table>
      <%= f.submit "Update Student", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>