<div>
  <br>
  <p>Welcome to Student Records</p>
  <p>Please register in order to use our API features</p>
  <p>Once you have registered and logged in, your api_token will be on your profile page.</p>
</div>