<div>
  <%= link_to("<< Back to List", courses_path) %>
  <div>
    <h3>Show Course</h3>
    <table>
      <tr>
        <td>Name</td>
        <td><%= @course.name %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><%= @course.description %></td>
      </tr>
    </table>
  </div>
</div>
